<div class="body">
  <div>
    <h1><%= @cocktail.name %></h1>

    <p>Please mix:</p>
    <% @cocktail.doses.each do |dose| %>
      <p> <%= dose.amount %> - <%= dose.ingredient.name %> <%= link_to "Delete ingredient", cocktail_dose_path(@cocktail, dose), method: :delete %> </p>
    <% end %>

    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :amount %>
      <%= f.association :ingredient %>
      <%= f.submit "Add Ingredient"%>
    <% end %>

    <p> <%= link_to "Show all Cocktails", cocktails_path %></p>
  </div>
</div>
